@theme {
  --color-colour-white-100: var(--rt-color-colour-white-100);
  --color-colour-white-200: var(--rt-color-colour-white-200);
  --color-colour-white-300: var(--rt-color-colour-white-300);
  --color-colour-white-400: var(--rt-color-colour-white-400);
  --color-colour-white-500: var(--rt-color-colour-white-500);
  --color-colour-white-600: var(--rt-color-colour-white-600);
  --color-colour-white-700: var(--rt-color-colour-white-700);
  --color-colour-white-800: var(--rt-color-colour-white-800);
  --color-colour-white-900: var(--rt-color-colour-white-900);
  --color-colour-white-1000: var(--rt-color-colour-white-1000);
  --color-colour-grey-100: var(--rt-color-colour-grey-100);
  --color-colour-grey-200: var(--rt-color-colour-grey-200);
  --color-colour-grey-300: var(--rt-color-colour-grey-300);
  --color-colour-grey-400: var(--rt-color-colour-grey-400);
  --color-colour-grey-500: var(--rt-color-colour-grey-500);
  --color-colour-grey-600: var(--rt-color-colour-grey-600);
  --color-colour-grey-700: var(--rt-color-colour-grey-700);
  --color-colour-grey-800: var(--rt-color-colour-grey-800);
  --color-colour-grey-900: var(--rt-color-colour-grey-900);
  --color-colour-grey-1000: var(--rt-color-colour-grey-1000);
  --color-colour-red-100: var(--rt-color-colour-red-100);
  --color-colour-red-200: var(--rt-color-colour-red-200);
  --color-colour-red-300: var(--rt-color-colour-red-300);
  --color-colour-red-400: var(--rt-color-colour-red-400);
  --color-colour-red-500: var(--rt-color-colour-red-500);
  --color-colour-red-600: var(--rt-color-colour-red-600);
  --color-colour-red-700: var(--rt-color-colour-red-700);
  --color-colour-red-800: var(--rt-color-colour-red-800);
  --color-colour-red-900: var(--rt-color-colour-red-900);
  --color-colour-black-100: var(--rt-color-colour-black-100);
  --color-colour-black-200: var(--rt-color-colour-black-200);
  --color-colour-black-300: var(--rt-color-colour-black-300);
  --color-colour-black-400: var(--rt-color-colour-black-400);
  --color-colour-black-500: var(--rt-color-colour-black-500);
  --color-colour-black-600: var(--rt-color-colour-black-600);
  --color-colour-black-700: var(--rt-color-colour-black-700);
  --color-colour-black-800: var(--rt-color-colour-black-800);
  --color-colour-black-900: var(--rt-color-colour-black-900);
  --color-colour-black-1000: var(--rt-color-colour-black-1000);
  --color-colour-brand-branda-orange-50: var(--rt-color-colour-brand-branda-orange-50);
  --color-colour-brand-branda-orange-100: var(--rt-color-colour-brand-branda-orange-100);
  --color-colour-brand-branda-orange-200: var(--rt-color-colour-brand-branda-orange-200);
  --color-colour-brand-branda-orange-300: var(--rt-color-colour-brand-branda-orange-300);
  --color-colour-brand-branda-orange-400: var(--rt-color-colour-brand-branda-orange-400);
  --color-colour-brand-branda-orange-600: var(--rt-color-colour-brand-branda-orange-600);
  --color-colour-brand-branda-orange-700: var(--rt-color-colour-brand-branda-orange-700);
  --color-colour-brand-branda-orange-800: var(--rt-color-colour-brand-branda-orange-800);
  --color-colour-brand-branda-orange-default: var(--rt-color-colour-brand-branda-orange-default);
  --color-colour-brand-branda-green-50: var(--rt-color-colour-brand-branda-green-50);
  --color-colour-brand-branda-green-100: var(--rt-color-colour-brand-branda-green-100);
  --color-colour-brand-branda-green-200: var(--rt-color-colour-brand-branda-green-200);
  --color-colour-brand-branda-green-300: var(--rt-color-colour-brand-branda-green-300);
  --color-colour-brand-branda-green-400: var(--rt-color-colour-brand-branda-green-400);
  --color-colour-brand-branda-green-600: var(--rt-color-colour-brand-branda-green-600);
  --color-colour-brand-branda-green-700: var(--rt-color-colour-brand-branda-green-700);
  --color-colour-brand-branda-green-800: var(--rt-color-colour-brand-branda-green-800);
  --color-colour-brand-branda-green-default: var(--rt-color-colour-brand-branda-green-default);
  --color-colour-brand-branda-paper-50: var(--rt-color-colour-brand-branda-paper-50);
  --color-colour-brand-branda-paper-100: var(--rt-color-colour-brand-branda-paper-100);
  --color-colour-brand-branda-paper-200: var(--rt-color-colour-brand-branda-paper-200);
  --color-colour-brand-branda-paper-300: var(--rt-color-colour-brand-branda-paper-300);
  --color-colour-brand-branda-paper-400: var(--rt-color-colour-brand-branda-paper-400);
  --color-colour-brand-branda-paper-600: var(--rt-color-colour-brand-branda-paper-600);
  --color-colour-brand-branda-paper-700: var(--rt-color-colour-brand-branda-paper-700);
  --color-colour-brand-branda-paper-800: var(--rt-color-colour-brand-branda-paper-800);
  --color-colour-brand-branda-paper-900: var(--rt-color-colour-brand-branda-paper-900);
  --color-colour-brand-branda-paper-1000: var(--rt-color-colour-brand-branda-paper-1000);
  --color-colour-brand-branda-paper-1100: var(--rt-color-colour-brand-branda-paper-1100);
  --color-colour-brand-branda-paper-1200: var(--rt-color-colour-brand-branda-paper-1200);
  --color-colour-brand-branda-paper-1300: var(--rt-color-colour-brand-branda-paper-1300);
  --color-colour-brand-branda-paper-2000: var(--rt-color-colour-brand-branda-paper-2000);
  --color-colour-brand-branda-paper-default: var(--rt-color-colour-brand-branda-paper-default);
  --color-colour-brand-branda-accent-1000: var(--rt-color-colour-brand-branda-accent-1000);
  --color-colour-brand-brandb-cherry-50: var(--rt-color-colour-brand-brandb-cherry-50);
  --color-colour-brand-brandb-cherry-100: var(--rt-color-colour-brand-brandb-cherry-100);
  --color-colour-brand-brandb-cherry-200: var(--rt-color-colour-brand-brandb-cherry-200);
  --color-colour-brand-brandb-cherry-300: var(--rt-color-colour-brand-brandb-cherry-300);
  --color-colour-brand-brandb-cherry-400: var(--rt-color-colour-brand-brandb-cherry-400);
  --color-colour-brand-brandb-cherry-600: var(--rt-color-colour-brand-brandb-cherry-600);
  --color-colour-brand-brandb-cherry-700: var(--rt-color-colour-brand-brandb-cherry-700);
  --color-colour-brand-brandb-cherry-800: var(--rt-color-colour-brand-brandb-cherry-800);
  --color-colour-brand-brandb-cherry-default: var(--rt-color-colour-brand-brandb-cherry-default);
  --color-colour-brand-brandb-salt-50: var(--rt-color-colour-brand-brandb-salt-50);
  --color-colour-brand-brandb-salt-100: var(--rt-color-colour-brand-brandb-salt-100);
  --color-colour-brand-brandb-salt-200: var(--rt-color-colour-brand-brandb-salt-200);
  --color-colour-brand-brandb-salt-300: var(--rt-color-colour-brand-brandb-salt-300);
  --color-colour-brand-brandb-salt-400: var(--rt-color-colour-brand-brandb-salt-400);
  --color-colour-brand-brandb-salt-600: var(--rt-color-colour-brand-brandb-salt-600);
  --color-colour-brand-brandb-salt-700: var(--rt-color-colour-brand-brandb-salt-700);
  --color-colour-brand-brandb-salt-800: var(--rt-color-colour-brand-brandb-salt-800);
  --color-colour-brand-brandb-salt-900: var(--rt-color-colour-brand-brandb-salt-900);
  --color-colour-brand-brandb-salt-1000: var(--rt-color-colour-brand-brandb-salt-1000);
  --color-colour-brand-brandb-salt-1050: var(--rt-color-colour-brand-brandb-salt-1050);
  --color-colour-brand-brandb-salt-1100: var(--rt-color-colour-brand-brandb-salt-1100);
  --color-colour-brand-brandb-salt-1200: var(--rt-color-colour-brand-brandb-salt-1200);
  --color-colour-brand-brandb-salt-1300: var(--rt-color-colour-brand-brandb-salt-1300);
  --color-colour-brand-brandb-salt-2000: var(--rt-color-colour-brand-brandb-salt-2000);
  --color-colour-brand-brandb-salt-default: var(--rt-color-colour-brand-brandb-salt-default);
  --color-colour-brand-brandb-violet-50: var(--rt-color-colour-brand-brandb-violet-50);
  --color-colour-brand-brandb-violet-100: var(--rt-color-colour-brand-brandb-violet-100);
  --color-colour-brand-brandb-violet-200: var(--rt-color-colour-brand-brandb-violet-200);
  --color-colour-brand-brandb-violet-300: var(--rt-color-colour-brand-brandb-violet-300);
  --color-colour-brand-brandb-violet-400: var(--rt-color-colour-brand-brandb-violet-400);
  --color-colour-brand-brandb-violet-600: var(--rt-color-colour-brand-brandb-violet-600);
  --color-colour-brand-brandb-violet-700: var(--rt-color-colour-brand-brandb-violet-700);
  --color-colour-brand-brandb-violet-800: var(--rt-color-colour-brand-brandb-violet-800);
  --color-colour-brand-brandb-violet-default: var(--rt-color-colour-brand-brandb-violet-default);
  --color-colour-brand-brandb-accent-spritz: var(--rt-color-colour-brand-brandb-accent-spritz);
  --color-colour-brand-brandb-accent-burgundy: var(--rt-color-colour-brand-brandb-accent-burgundy);
  --color-colour-brand-brandb-accent-ice: var(--rt-color-colour-brand-brandb-accent-ice);
  --color-colour-brand-brandb-accent-citrus: var(--rt-color-colour-brand-brandb-accent-citrus);
  --color-colour-brand-brandb-accent-violet: var(--rt-color-colour-brand-brandb-accent-violet);
  --color-colour-green-100: var(--rt-color-colour-green-100);
  --color-colour-green-200: var(--rt-color-colour-green-200);
  --color-colour-green-300: var(--rt-color-colour-green-300);
  --color-colour-green-400: var(--rt-color-colour-green-400);
  --color-colour-green-500: var(--rt-color-colour-green-500);
  --color-colour-green-600: var(--rt-color-colour-green-600);
  --color-colour-green-700: var(--rt-color-colour-green-700);
  --color-colour-green-800: var(--rt-color-colour-green-800);
  --color-colour-green-900: var(--rt-color-colour-green-900);
  --color-colour-orange-100: var(--rt-color-colour-orange-100);
  --color-colour-orange-200: var(--rt-color-colour-orange-200);
  --color-colour-orange-300: var(--rt-color-colour-orange-300);
  --color-colour-orange-400: var(--rt-color-colour-orange-400);
  --color-colour-orange-500: var(--rt-color-colour-orange-500);
  --color-colour-orange-600: var(--rt-color-colour-orange-600);
  --color-colour-orange-700: var(--rt-color-colour-orange-700);
  --color-colour-orange-800: var(--rt-color-colour-orange-800);
  --color-colour-orange-900: var(--rt-color-colour-orange-900);
  --color-colour-yellow-100: var(--rt-color-colour-yellow-100);
  --color-colour-yellow-200: var(--rt-color-colour-yellow-200);
  --color-colour-yellow-300: var(--rt-color-colour-yellow-300);
  --color-colour-yellow-400: var(--rt-color-colour-yellow-400);
  --color-colour-yellow-500: var(--rt-color-colour-yellow-500);
  --color-colour-yellow-600: var(--rt-color-colour-yellow-600);
  --color-colour-blue-400: var(--rt-color-colour-blue-400);
  --color-colour-blue-500: var(--rt-color-colour-blue-500);
  --font-family-headings: var(--rt-font-family-headings);
  --font-family-paragraph: var(--rt-font-family-paragraph);
  --font-family-sub-headings: var(--rt-font-family-sub-headings);
  --text-font-font-weight-header-light: var(--rt-text-font-font-weight-header-light);
  --text-font-font-weight-header-regular: var(--rt-text-font-font-weight-header-regular);
  --text-font-font-weight-header-medium: var(--rt-text-font-font-weight-header-medium);
  --text-font-font-weight-header-semi-bold: var(--rt-text-font-font-weight-header-semi-bold);
  --text-font-font-weight-header-bold: var(--rt-text-font-font-weight-header-bold);
  --text-font-font-weight-header-extra-bold: var(--rt-text-font-font-weight-header-extra-bold);
  --text-font-font-weight-paragraph-light: var(--rt-text-font-font-weight-paragraph-light);
  --text-font-font-weight-paragraph-regular: var(--rt-text-font-font-weight-paragraph-regular);
  --text-font-font-weight-paragraph-medium: var(--rt-text-font-font-weight-paragraph-medium);
  --text-font-font-weight-paragraph-semi-bold: var(--rt-text-font-font-weight-paragraph-semi-bold);
  --text-font-font-weight-paragraph-bold: var(--rt-text-font-font-weight-paragraph-bold);
  --text-font-font-weight-paragraph-extra-bold: var(--rt-text-font-font-weight-paragraph-extra-bold);
  --number-scale-0: var(--rt-number-scale-0);
  --number-scale-25: var(--rt-number-scale-25);
  --number-scale-50: var(--rt-number-scale-50);
  --number-scale-100: var(--rt-number-scale-100);
  --number-scale-200: var(--rt-number-scale-200);
  --number-scale-300: var(--rt-number-scale-300);
  --number-scale-400: var(--rt-number-scale-400);
  --number-scale-500: var(--rt-number-scale-500);
  --number-scale-600: var(--rt-number-scale-600);
  --number-scale-700: var(--rt-number-scale-700);
  --number-scale-800: var(--rt-number-scale-800);
  --number-scale-900: var(--rt-number-scale-900);
  --number-scale-1000: var(--rt-number-scale-1000);
  --number-scale-1100: var(--rt-number-scale-1100);
  --number-scale-1200: var(--rt-number-scale-1200);
  --number-scale-1300: var(--rt-number-scale-1300);
  --number-scale-1400: var(--rt-number-scale-1400);
  --number-scale-1500: var(--rt-number-scale-1500);
  --number-scale-1600: var(--rt-number-scale-1600);
  --number-scale-1700: var(--rt-number-scale-1700);
  --number-scale-1800: var(--rt-number-scale-1800);
  --number-scale-1900: var(--rt-number-scale-1900);
  --number-scale-2000: var(--rt-number-scale-2000);
  --number-scale-2100: var(--rt-number-scale-2100);
  --number-scale-2200: var(--rt-number-scale-2200);
  --number-scale-2300: var(--rt-number-scale-2300);
  --number-scale-2400: var(--rt-number-scale-2400);
  --number-scale-2500: var(--rt-number-scale-2500);
  --number-scale-2600: var(--rt-number-scale-2600);
  --number-scale-2700: var(--rt-number-scale-2700);
  --number-scale-2800: var(--rt-number-scale-2800);
  --number-scale-2900: var(--rt-number-scale-2900);
  --number-scale-3000: var(--rt-number-scale-3000);
  --number-scale-25-2: var(--rt-number-scale-25-2);
  --number-scale-0-2: var(--rt-number-scale-0-2);
  --color-primary-lightest: var(--rt-color-primary-lightest);
  --color-primary-default: var(--rt-color-primary-default);
  --color-primary-dark: var(--rt-color-primary-dark);
  --color-primary-lighter: var(--rt-color-primary-lighter);
  --color-primary-darkest: var(--rt-color-primary-darkest);
  --color-primary-aaa-text: var(--rt-color-primary-aaa-text);
  --color-primary-aaa-surface: var(--rt-color-primary-aaa-surface);
  --color-primary-light: var(--rt-color-primary-light);
  --color-tertiary-dark: var(--rt-color-tertiary-dark);
  --color-tertiary-default: var(--rt-color-tertiary-default);
  --color-tertiary-lighter: var(--rt-color-tertiary-lighter);
  --color-tertiary-darker: var(--rt-color-tertiary-darker);
  --color-tertiary-light: var(--rt-color-tertiary-light);
  --color-positive-light: var(--rt-color-positive-light);
  --color-positive-default: var(--rt-color-positive-default);
  --color-positive-dark: var(--rt-color-positive-dark);
  --color-error-light: var(--rt-color-error-light);
  --color-error-default: var(--rt-color-error-default);
  --color-error-dark: var(--rt-color-error-dark);
  --color-warning-light: var(--rt-color-warning-light);
  --color-warning-default: var(--rt-color-warning-default);
  --color-warning-dark: var(--rt-color-warning-dark);
  --color-information-light: var(--rt-color-information-light);
  --color-information-default: var(--rt-color-information-default);
  --color-information-dark: var(--rt-color-information-dark);
  --color-neutral-light: var(--rt-color-neutral-light);
  --color-neutral-default: var(--rt-color-neutral-default);
  --color-neutral-dark: var(--rt-color-neutral-dark);
  --color-neutral-lighter: var(--rt-color-neutral-lighter);
  --color-neutral-lightest: var(--rt-color-neutral-lightest);
  --color-neutral-darker: var(--rt-color-neutral-darker);
  --color-neutral-darkest: var(--rt-color-neutral-darkest);
  --color-neutral-black: var(--rt-color-neutral-black);
  --color-neutral-white: var(--rt-color-neutral-white);
  --color-neutral-white-50pct: var(--rt-color-neutral-white-50pct);
  --color-neutral-white-20pct: var(--rt-color-neutral-white-20pct);
  --color-neutral-white-80pct: var(--rt-color-neutral-white-80pct);
  --color-neutral-black-80pct: var(--rt-color-neutral-black-80pct);
  --color-neutral-black-50pct: var(--rt-color-neutral-black-50pct);
  --color-neutral-black-20pct: var(--rt-color-neutral-black-20pct);
  --color-neutral-black-10pct: var(--rt-color-neutral-black-10pct);
  --color-neutral-white-10pct: var(--rt-color-neutral-white-10pct);
  --color-neutral-white-30pct: var(--rt-color-neutral-white-30pct);
  --color-neutral-black-40pct: var(--rt-color-neutral-black-40pct);
  --color-neutral-black-30pct: var(--rt-color-neutral-black-30pct);
  --color-accent-default: var(--rt-color-accent-default);
  --color-accent-spritz: var(--rt-color-accent-spritz);
  --color-accent-burgundy: var(--rt-color-accent-burgundy);
  --color-accent-ice: var(--rt-color-accent-ice);
  --color-accent-citrus: var(--rt-color-accent-citrus);
  --color-accent-violet: var(--rt-color-accent-violet);
  --color-secondary-default: var(--rt-color-secondary-default);
  --color-secondary-dark: var(--rt-color-secondary-dark);
  --color-secondary-darker: var(--rt-color-secondary-darker);
  --color-secondary-darkest: var(--rt-color-secondary-darkest);
  --color-surface-page: var(--rt-color-surface-page);
  --color-surface-positive-light: var(--rt-color-surface-positive-light);
  --color-surface-disabled-dark: var(--rt-color-surface-disabled-dark);
  --color-surface-error: var(--rt-color-surface-error);
  --color-surface-warning: var(--rt-color-surface-warning);
  --color-surface-highlight: var(--rt-color-surface-highlight);
  --color-surface-action-primary: var(--rt-color-surface-action-primary);
  --color-surface-action-inverse: var(--rt-color-surface-action-inverse);
  --color-surface-action-hover-primary: var(--rt-color-surface-action-hover-primary);
  --color-surface-action-selected: var(--rt-color-surface-action-selected);
  --color-surface-action-secondary: var(--rt-color-surface-action-secondary);
  --color-surface-action-hover-secondary: var(--rt-color-surface-action-hover-secondary);
  --color-surface-action-inverse-darker: var(--rt-color-surface-action-inverse-darker);
  --color-surface-action-hover-inverse: var(--rt-color-surface-action-hover-inverse);
  --color-surface-accent: var(--rt-color-surface-accent);
  --color-surface-brand-primary: var(--rt-color-surface-brand-primary);
  --color-surface-secondary: var(--rt-color-surface-secondary);
  --color-surface-hover: var(--rt-color-surface-hover);
  --color-surface-disabled-light: var(--rt-color-surface-disabled-light);
  --color-surface-brand-aaa: var(--rt-color-surface-brand-aaa);
  --color-surface-brand-aa: var(--rt-color-surface-brand-aa);
  --color-surface-brand-accent: var(--rt-color-surface-brand-accent);
  --color-surface-passive: var(--rt-color-surface-passive);
  --color-surface-passive-2: var(--rt-color-surface-passive-2);
  --color-surface-overlay-background: var(--rt-color-surface-overlay-background);
  --color-surface-accent-2: var(--rt-color-surface-accent-2);
  --color-surface-offer: var(--rt-color-surface-offer);
  --color-surface-accent-3: var(--rt-color-surface-accent-3);
  --color-surface-information: var(--rt-color-surface-information);
  --color-surface-offer-hover: var(--rt-color-surface-offer-hover);
  --color-surface-error-light: var(--rt-color-surface-error-light);
  --color-surface-warning-light: var(--rt-color-surface-warning-light);
  --color-surface-information-light: var(--rt-color-surface-information-light);
  --color-surface-positive: var(--rt-color-surface-positive);
  --color-surface-passive-3: var(--rt-color-surface-passive-3);
  --color-surface-tag-light: var(--rt-color-surface-tag-light);
  --color-surface-tag-dark: var(--rt-color-surface-tag-dark);
  --color-surface-brand-secondary: var(--rt-color-surface-brand-secondary);
  --text-surface-brand-logo: var(--rt-text-surface-brand-logo);
  --color-text-headings: var(--rt-color-text-headings);
  --color-text-body: var(--rt-color-text-body);
  --color-text-success: var(--rt-color-text-success);
  --color-text-disabled: var(--rt-color-text-disabled);
  --color-text-error: var(--rt-color-text-error);
  --color-text-action-active: var(--rt-color-text-action-active);
  --color-text-action-inverse: var(--rt-color-text-action-inverse);
  --color-text-action-selected: var(--rt-color-text-action-selected);
  --color-text-action-disabled: var(--rt-color-text-action-disabled);
  --color-text-action-onprimary: var(--rt-color-text-action-onprimary);
  --color-text-action-onsecondary: var(--rt-color-text-action-onsecondary);
  --color-text-action-ontertiary: var(--rt-color-text-action-ontertiary);
  --color-text-warning: var(--rt-color-text-warning);
  --color-text-information: var(--rt-color-text-information);
  --color-text-passive: var(--rt-color-text-passive);
  --color-text-inverse: var(--rt-color-text-inverse);
  --color-text-brand: var(--rt-color-text-brand);
  --color-text-brand-aaa: var(--rt-color-text-brand-aaa);
  --color-text-available: var(--rt-color-text-available);
  --color-icon-color-primary: var(--rt-color-icon-color-primary);
  --color-icon-color-action-active: var(--rt-color-icon-color-action-active);
  --color-icon-color-action-selected: var(--rt-color-icon-color-action-selected);
  --color-icon-color-action-inverse: var(--rt-color-icon-color-action-inverse);
  --color-icon-color-action-disabled: var(--rt-color-icon-color-action-disabled);
  --color-icon-color-action-highlight: var(--rt-color-icon-color-action-highlight);
  --color-icon-color-action-onprimary: var(--rt-color-icon-color-action-onprimary);
  --color-icon-color-action-onsecondary: var(--rt-color-icon-color-action-onsecondary);
  --color-icon-color-action-ontertiary: var(--rt-color-icon-color-action-ontertiary);
  --color-icon-color-positive: var(--rt-color-icon-color-positive);
  --color-icon-color-error: var(--rt-color-icon-color-error);
  --color-icon-color-warning: var(--rt-color-icon-color-warning);
  --color-icon-color-information: var(--rt-color-icon-color-information);
  --number-icon-xs: var(--rt-number-icon-xs);
  --number-icon-sm: var(--rt-number-icon-sm);
  --number-icon-md: var(--rt-number-icon-md);
  --number-icon-lg: var(--rt-number-icon-lg);
  --number-icon-xl: var(--rt-number-icon-xl);
  --number-icon-2xl: var(--rt-number-icon-2xl);
  --number-icon-3xl: var(--rt-number-icon-3xl);
  --color-border-primary: var(--rt-color-border-primary);
  --color-border-selected: var(--rt-color-border-selected);
  --color-border-action-on-primary: var(--rt-color-border-action-on-primary);
  --color-border-action-on-page: var(--rt-color-border-action-on-page);
  --color-border-action-active: var(--rt-color-border-action-active);
  --color-border-disabled: var(--rt-color-border-disabled);
  --color-border-positive: var(--rt-color-border-positive);
  --color-border-error: var(--rt-color-border-error);
  --color-border-warning: var(--rt-color-border-warning);
  --color-border-highlight: var(--rt-color-border-highlight);
  --color-border-inverse: var(--rt-color-border-inverse);
  --color-border-passive: var(--rt-color-border-passive);
  --color-border-secondary: var(--rt-color-border-secondary);
  --color-border-information: var(--rt-color-border-information);
  --color-border-error-passive: var(--rt-color-border-error-passive);
  --border-width-none: var(--rt-border-width-none);
  --border-width-sm: var(--rt-border-width-sm);
  --border-width-md: var(--rt-border-width-md);
  --border-width-lg: var(--rt-border-width-lg);
  --border-width-xs: var(--rt-border-width-xs);
  --border-width-xl: var(--rt-border-width-xl);
  --radius-xs: var(--rt-radius-xs);
  --radius-sm: var(--rt-radius-sm);
  --radius-md: var(--rt-radius-md);
  --radius-xl: var(--rt-radius-xl);
  --radius-xxl: var(--rt-radius-xxl);
  --radius-none: var(--rt-radius-none);
  --radius-round: var(--rt-radius-round);
  --radius-lg: var(--rt-radius-lg);
  --text-label: var(--rt-text-label);
  --leading-body-sm: var(--rt-leading-body-sm);
  --leading-body-md: var(--rt-leading-body-md);
  --leading-body-xs: var(--rt-leading-body-xs);
  --leading-body-micro: var(--rt-leading-body-micro);
  --leading-body-extra-micro: var(--rt-leading-body-extra-micro);
  --leading-body-lg: var(--rt-leading-body-lg);
  --leading-heading-h1: var(--rt-leading-heading-h1);
  --leading-heading-h2: var(--rt-leading-heading-h2);
  --leading-heading-h3: var(--rt-leading-heading-h3);
  --leading-heading-h4: var(--rt-leading-heading-h4);
  --leading-heading-h5: var(--rt-leading-heading-h5);
  --leading-heading-h6: var(--rt-leading-heading-h6);
  --leading-heading-h7: var(--rt-leading-heading-h7);
  --leading-action-sm: var(--rt-leading-action-sm);
  --leading-action-md: var(--rt-leading-action-md);
  --leading-label-small: var(--rt-leading-label-small);
  --leading-label-extra-small: var(--rt-leading-label-extra-small);
  --leading-label-micro: var(--rt-leading-label-micro);
  --leading-label-extra-micro: var(--rt-leading-label-extra-micro);
  --text-body-sm: var(--rt-text-body-sm);
  --text-body-md: var(--rt-text-body-md);
  --text-body-xs: var(--rt-text-body-xs);
  --text-body-micro: var(--rt-text-body-micro);
  --text-body-lg: var(--rt-text-body-lg);
  --text-body-extra-micro: var(--rt-text-body-extra-micro);
  --text-heading-h2: var(--rt-text-heading-h2);
  --text-heading-h3: var(--rt-text-heading-h3);
  --text-heading-h4: var(--rt-text-heading-h4);
  --text-heading-h5: var(--rt-text-heading-h5);
  --text-heading-h6: var(--rt-text-heading-h6);
  --text-heading-h7: var(--rt-text-heading-h7);
  --text-heading-h1: var(--rt-text-heading-h1);
  --text-action-sm: var(--rt-text-action-sm);
  --text-action-md: var(--rt-text-action-md);
  --spacing-3xs: var(--rt-spacing-3xs);
  --spacing-sm: var(--rt-spacing-sm);
  --spacing-md: var(--rt-spacing-md);
  --spacing-lg: var(--rt-spacing-lg);
  --spacing-xs: var(--rt-spacing-xs);
  --spacing-2xs: var(--rt-spacing-2xs);
  --spacing-xl: var(--rt-spacing-xl);
  --spacing-2xl: var(--rt-spacing-2xl);
  --spacing-4xl: var(--rt-spacing-4xl);
  --spacing-3xl: var(--rt-spacing-3xl);
  --spacing-grid-max-width: var(--rt-spacing-grid-max-width);
  --spacing-grid-screen-margin: var(--rt-spacing-grid-screen-margin);
  --spacing-grid-columns-all: var(--rt-spacing-grid-columns-all);
  --spacing-grid-columns-2: var(--rt-spacing-grid-columns-2);
  --spacing-grid-columns-3: var(--rt-spacing-grid-columns-3);
  --spacing-grid-column-1: var(--rt-spacing-grid-column-1);
  --spacing-grid-columns-4: var(--rt-spacing-grid-columns-4);
  --spacing-grid-columns-5: var(--rt-spacing-grid-columns-5);
  --spacing-grid-columns-6: var(--rt-spacing-grid-columns-6);
  --spacing-grid-columns-7: var(--rt-spacing-grid-columns-7);
  --spacing-grid-columns-8: var(--rt-spacing-grid-columns-8);
  --spacing-grid-columns-9: var(--rt-spacing-grid-columns-9);
  --spacing-grid-columns-10: var(--rt-spacing-grid-columns-10);
  --spacing-grid-columns-11: var(--rt-spacing-grid-columns-11);
  --spacing-grid-vertical-margin-large: var(--rt-spacing-grid-vertical-margin-large);
  --spacing-grid-vertical-margin-small: var(--rt-spacing-grid-vertical-margin-small);
  --spacing-5xl: var(--rt-spacing-5xl);
  --spacing-6xl: var(--rt-spacing-6xl);
  --spacing-7xl: var(--rt-spacing-7xl);
}
